<footer class="footer">
  <div class="container footer-wrapper">
    <h2>Reka Skala SDN. BHD.</h2>

    <p>
      
    </p>

    <span>
      © 2026 REHAT | Hak Cipta Terpelihara.
    </span>
  </div>
</footer>