<section class="hero-section">
  <div class="hero-overlay"></div>

  <div class="container hero-content">
    <p class="hero-tag">Reka Skala SDN.BHD.</p>

    <h1>
      REHAT
    </h1>

    <h2>
      Pod Rehat Pintar Pelajar
      Berasaskan AI
    </h2>

    <p class="hero-description">
      Inovasi ruang rehat pintar yang direka untuk meningkatkan
      keselesaan, fokus dan produktiviti pelajar melalui teknologi AI.
    </p>

    <a href="#intro" class="primary-button">
      Teroka Selanjutnya
    </a>
  </div>
</section>