<section class="hero-section">
  <div class="hero-overlay"></div>

  <div class="container hero-content">
    <p class="hero-tag">REKA SKALA SDN.BHD.</p>

    <h1>
      NADI
    </h1>

    <h2>
      Nyaman Automasi Dinamik Inovatif
    </h2>

    <p class="hero-description">
      Inovasi ruang rehat pintar yang direka untuk meningkatkan
      keselesaan, fokus dan produktiviti pelajar melalui teknologi AI.
    </p>

    <a href="#intro" class="primary-button">
      Teroka Selanjutnya
    </a>
  </div>
</section>